<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="dgca.verifier.app.engine" />

    <queries>
        <!-- See DebugLogger.isAutoLoggingEnabled -->
        <package android:name="de.rki.coronawarnapp.els.autologger" />
    </queries>

</manifest>
